<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app='MediaMasterApp' ng-cloak>
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>MediaMaster - Python Media File Indexed HTML5 WebApp</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/main.min.css">
		<script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
		<script src="/js/app.min.js"></script>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!--[if lt IE 8]>
		        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience.</p>
	        <![endif]-->
	    <div ng-controller="viewerCtrl">
		    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			    <div class="container">
				    <div class="navbar-header">
					    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					    </button>
					    <a class="navbar-brand" href="/">MediaMaster</a>
				    </div>
				    <div id="navbar" class="navbar-collapse collapse">
					    <ul class="pagination navbar-right" style="margin:3px; padding: 5px; margin-left: 10px;">
						    <li>
						      <a href="#" aria-label="First" ng-click="firstPage()">
						        <span aria-hidden="true">&lt;&lt;</span>
						      </a>
						    </li>
						    <li>
						      <a href="#" aria-label="Previous" ng-click="prevPage()">
						        <span aria-hidden="true">&lt;</span>
						      </a>
						    </li>
						    <li>
						      <a href="#" aria-label="Next" ng-click="nextPage()">
						        <span aria-hidden="true">&gt;</span>
						      </a>
						    </li>
						  </ul>
					    <form class="navbar-form navbar-right" role="form">
						    <div class="form-group">
						        <div class="btn-group">
                                    <label class="btn btn-primary" ng-model="mediaType" uib-btn-radio="'all'" ng-click="getResults()">All</label>
                                    <label class="btn btn-primary" ng-model="mediaType" uib-btn-radio="'images'" ng-click="getResults()">Images</label>
                                    <label class="btn btn-primary" ng-model="mediaType" uib-btn-radio="'videos'" ng-click="getResults()">Videos</label>
                                    <div class="btn-group" uib-dropdown is-open="isopen">
                                      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                        Sort: {{sortType}} <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                        <li role="menuitem"><a ng-click="setSort('newest')">Newest</a></li>
                                        <li role="menuitem"><a ng-click="setSort('oldest')">Oldest</a></li>
                                        <li role="menuitem"><a ng-click="setSort('random')">Random</a></li>
                                      </ul>
                                    </div>                                
                                </div>
							    <input type="text" placeholder="File / Folder Titles..." ng-model="keyword" class="form-control"/>
						    </div>
						    <button type="submit" class="btn btn-brand" ng-click="getResults()">Search</button>
					    </form>
				    </div>
				    <!--/.navbar-collapse -->
			    </div>
		    </nav>
		    <div class="container-fluid" style="margin-top: 50px;">
			    <div class="row">			    
				    <div ng-repeat="thumbnail in thumbnails track by $index" ng-click="viewFile(thumbnail.fullPath)" class="col-xs-2 img img-sm" style="background-image: url('{{thumbnail.image}}');">
				    <div class="next-button-panel" ng-hide="thumbnail.fileType">NEXT PAGE &gt;</div>
				    <img class="play-button-icon" ng-show="(thumbnail.fileType=='video')" src="/img/play.png"/>
                    <a class="file-link" href="" ng-click="viewFile(thumbnail.fullPath)">
    				    {{thumbnail.fullPath}}
				    </a>
				</div>
		    </div>
    		<!-- /container -->
    	</div>
    	<!-- /viewerCtrl -->
	</body>
</html>
